*{
      margin:0;
      padding:0;
}

  .main-div{
    height:100vh;
    width:100vw;
    background-color: rgb(5, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto ;

}
.child_div{
       height:60%;
       width:22%;
}
.img{
    height:5rem;
    width:5rem;
    margin-left: 33%;
}
.text{
  margin-left: "23%";
   color: "white"
}
.addItems{
    height:2rem;
    width:100%;
    display: flex;
    border-radius: 4px;
    background-color: white;
    border:2px solid white;
    align-items: center;
}
.addIcon{
    cursor: pointer;
    margin-right: 1.5rem;
}
.addIcon:hover{
    color:rgb(34, 239, 34);
}
.form-control{
    height:2rem;
    width:95%;
    text-decoration: none;
    border:none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .eachItem{
    height: 2rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    background-color:  rgb(9, 57, 214);
    border-radius: 4px;
    align-items: center;
    color:white;
  }
  .eachItem:hover{
    background-color:rgb(1, 77, 95);
  }
  .eachItem:hover .edit{
    color:rgb(34, 239, 34);
  }
  .eachItem:hover .delete{
    color:crimson;
  }
  .eachItem h6{
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
.todoBtn{
    width:5rem;
    position:absolute;
    top:5px;
    right:.6rem;
    height: auto;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    margin-left: 12rem;
}
.todoBtn:hover{
    cursor: pointer;
}

.btn{
    color: white;
    margin-top: 1rem;
    margin-left: 30%;
    border: 2px solid black;
    background-color: rebeccapurple;
}
.btn:hover{
    background-color:crimson;
    color: white;
}

@media screen and (max-width: 1300px){
  .text{
    font-size: 26px;
    margin-left: 10%;
    color:white;
    margin-bottom: 1rem;
   }
   .child_div {
    height: 60%;
    width: 28%;
}
.form-control::placeholder{
  font-size: 25px;
}
.addItems{
  height:3rem;
}
.eachItem{
  height:3rem;
  align-items: center;
}
.eachItem h6{
  font-size: 25px;
}
.todoBtn{
  margin-top: 13px;
}

.btn{
  height:3rem;
  width:8rem;
  font-size: 20px;
  border:none;
  border-radius: 4px;
}
         
}

@media screen and (max-width: 990px) {

   .text{
    font-size: 26px;
    margin-left: 11%;
    color:white;
   }
  .child_div {
      height: 60%;
      width: 45%;
  }
  .form-control::placeholder{
    font-size: 25px;
  }
  .addItems{
    height:3.5rem;
  }
  .eachItem{
    height:3.5rem;
    align-items: center;
  }
  .eachItem h6{
    font-size: 25px;
  }
  .todoBtn{
    margin-top: 13px;
  }
 
  .btn{
    height:3rem;
    width:8rem;
    font-size: 20px;
  }
}

@media screen and (max-width:600px){
  .text{
    font-size: 20px;
    margin-left: 14%;
    color:white;
   }
   .child_div{
    width:70%;
  }
  .form-control::placeholder{
    font-size: 20px;
  }
  .eachItem h6{
    font-size: 20px;
  }
  .addItems{
    height:2.5rem;
  }
  .eachItem{
    height:2.5rem;
    align-items: center;
  }
  .todoBtn{
    margin-top: 4px;
  }
   .btn{
    margin-left: 25%;
  }
}
@media screen and (min-width:1300px){
  .text{
    font-size: 18px;
    margin-left: 19%;
    margin-bottom: 1rem;
    color:white;
   }
   .child_div{
    width:20%;
    
  }
  .todoBtn{
    margin-top: 4px;
  }
  .form-control::placeholder{
    font-size: 20px;
  }
  .eachItem h6{
    font-size: 20px;
  }
  .addItems{
    height:2.5rem;
  }
  .eachItem{
    height:2.5rem;
    align-items: center;
  }
  .todoBtn{
    margin-top: 4px;
  }
   .btn{
    font-size: 20px;
    height:2.1rem;
    width:8rem;
    border:none;
    border-radius: 4px;
    margin-left: 30%;
    cursor: pointer;
  }
}
